* {
	padding: 0;
	margin: 0;
}

.clearfix {
	clear: both;
}

#header {
	width: 96%;
	padding: 0 2%;
	background-color: #262626;
}
.logo {
	width: 20%;
	float: left;
	margin: 20px 0;
}

.top-menu {
	width: 80%;
	float: left;
}

.top .logo a img {
	width: 140px;
	margin: -10px 0 0 -10px;
}

.top-menu ul {
	float: right;
}

.top-menu ul li {
		display: inline-block;
		margin: 20px 20px;
}

.top-menu ul li a{
	text-decoration: none;
	font-family: helvetica;
	font-size: 12px;
	font-weight: bold;
	color: gray;
}

.top-menu a:hover {
	color: white;
}

.navbar {
	width: 100%;
}

.navbar ul {
		float: left;
		width: 100%;
		background-color: #262626;
}

.navbar ul li {
		display: inline-block;
		margin: 18px 14px;
}

.navbar ul li a {
	text-decoration: none;
	font-family: helvetica;
	font-size: 16px;
	color: gray;
	font-weight: 500;
}

.navbar a:hover{
	color: white;
}

.navbar2 {
	width: 100%;
	margin: 0 auto;
	background-color: #f5f5f5;
}

.navbar2 ul li {
	display: inline-block;
	padding: 16px 12px;
	background-color: #f5f5f5;
}

.navbar2 ul li a {
	text-decoration: none;
	font-family: helvetica;
	font-size: 12px;
	color: gray;
	padding: 10px 6px;
	border-radius: 4px;
}

.navbar2 ul li a:hover {
	background-color: #666666;
	color: white;
}

.floatinglogo {
	height: 40px;
	position: absolute;
	top: 85px;
	right: 10px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #333333;
	border-radius: 20px;
}

.hero {
	background-color: #21c1ab;
	padding: 10px 0px 120px;
}

.hero h1 {
	font-family: helvetica;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	margin: 20px 0 20px;
}

.hero p {
	display: block;
	font-family: helvetica;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	padding: 0 15% 0;
}

.hero .search input {
	position: absolute;
	height: 50px;
	width: 40%;
	top: 300px;
	left: 400px;
	border: none;
	border-radius: 10px;
	padding: 5px 20px;
}

.hero2 {
	background-color: #f5f5f5;
	padding: 0 15% 15px;

}

.hero2 h2 {
	font-family: helvetica;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	color: #454545;
	text-align: center;
	padding: 60px 0 0;
}

.hero2 p {
	font-family: helvetica;
	color: #454545;
	padding: 20px 0 20px;
	text-align: center;
}

.hero2 img {
	display: inline-block;
	float: left;
	margin: 0 7px;
}

.hero2 button {
	display: inline-block;
	background-color: #82b440;
	border-radius: 5px;
	margin: 50px 375px;
	padding: 10px 10px;
	font-size: 14px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.hero2 .box {
	width: 100%;
	padding-bottom: 5px;
	margin: 5px 10px 10px;
}

.grid-container {
	max-width: 1004px;
	width: 100%;
	padding: 0 10px 0;
	margin-left: auto;
	margin-right: auto;
}

.grid-container .items-container {
	padding-bottom: 50px;
}

.grid-container .items-container .section-header h2 {
	display:block;
	font-family: helvetica;
	font-size: 28px;
	font-weight: 700;
	color: #454545;
	line-height: 1.2;
	margin: 16px 0 16px;
}

.navbar3 {
	width: 100%;
	margin: 0 auto 20px;
}

.navbar3 ul li {
	display: inline-block;
	margin: 8px;
	font-family: helvetica;
	font-size: 14px;
}

.navbar3 ul li a {
	text-decoration: none;
	cursor: pointer;
	color: #0084b4;
}

.navbar3 ul li:hover {
	text-decoration: underline;
}

.product-list ul {
		list-style-type: none;
}

.product-list ul li img {
	height: 80px;
	weight: 80px;
	display: inline-block;
	float: left;
	margin: 0 10px 20px;
}

.hero3 {
	display: block;
	padding-top: 30px;
}

.hero3 h2{
	font-family: helvetica;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 16px;
	text-align: center;
	color: #454545;
}

.hero3 p {
	font-family: helvetica;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 20px;
	text-align: center;
	color: #666666;
}

.btn-container {
	width: 100%;
	text-align: center;
}

.btn-class {
	width: 178px;
	position: relative;
	font-size: 16px;
	background-color: #e6e6e6;
	color: #666666;
	margin: 10px 10px;
	line-height: 1.5;
	border-radius: 5px;
	padding: 14px 30px;
	font-family: helvetica;
	text-decoration: none;
}

.content-section {
	max-width: 1004px;
	width: 100%;
	padding: 5px;
	margin: 30px auto;
	text-align: center;
}

.content-sec-container {
	padding: 0 32px 15px;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

.content-sec-container h2 {
	font-family: helvetica;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #454545;
	text-align: center;
}

.content-sec-container p {
	font-family: helvetica;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 16px;
	color: #454545;
	text-align: center;
}

.content-sec-container ul li{
	display: inline-block;
	margin: 0 10px 30px;
	position: relative;
	text-align: center;
}

.btn2 {
	box-shadow: 0 2px 0 #6f9a37;
	background-color: #82b440;
	position: relative;
	font-size: 14px;
	padding: 5px 20px;
	text-decoration: none;
	line-height: 1.5;
	color: white;
	border-radius: 2px;
	font-family: helvetica;
}

.newcontainer {
	max-width: 100%;
	padding: 32px;
	margin: 30px auto;
}

.content-container {
	padding: 0 32px 15px;
	margin: 0 auto;
	display: inline-block;
}
.content-container h2 {
font-family: helvetica;
font-size: 28px;
font-weight: 700;
line-height: 1.2;
margin-bottom: 16px;
margin-top: 16px;
padding-top: 15px;
color: #454545;
text-align: center;
}

.column{
	width: 28%;
	list-style-type: none;
	display: inline-block;
	margin-right: 5%;
	text-align: center;
	position: relative;
}

.column	img {
position: absolute;
top: 20px;
left: 50%;
transform: translateX(-50%);
display: block;
}

.t-heading {
	font-family: helvetica;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 16px;
	color: #454545;
}
.t-heading2 {
	font-family: helvetica;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 16px;
	color: #454545;
	text-align: center;
}

.t-body{
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 16px;
	font-weight: 600;
	margin-top: 170px;
	margin-bottom: 5px;
	line-height: 1.5;
	color: #666666;
}

.t-body2 {
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1.5;
	color: #545454;
}

.t-body3 {
	font-family: helvetica;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1.5;
	color: #545454;
}

.t-body4 {
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1.5;
	color: #666666;
}

.t-body5 {
	display: block;
	text-decoration: none;
	font-family: helvetica;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
	line-height: 1.5;
	color: #454545;
}
.t-body6 {
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #666666;
}

.new-content {
	float: left;
}

.new-content h3{
	font-family: helvetica;
	font-size: 24px;
	font-weight: 600;
	color: #454545;
}

.new-content img {
	float: left;
}

.content3 {
	float: left;
}

.content-img {
	float: right;
}

.sample {
	margin-top: 15px;
}

.portbtn {
	display: inline-block;
	padding: 2px 15px;
	background-color: #82b440;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.5;
	color: white;
	border-radius: 5px;
	font-family: helvetica;
}

.forbtn {
	display: block;
	width: 120px;
	padding: 5px 20px;
	box-shadow: 0 2px 0 #6f9a37;
	background-color: #82b440;
	border-radius: 5px;
	text-decoration: none;
	line-height: 1.5;
	font-family: helvetica;
	font-size: 14px;
	color: white;
	margin: 0 auto;
	text-align: center;
}

.grid-container2 {
	max-width: 1004px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.post-container {
	display: block;
	background-color: white;
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	color: #666666;
	padding: 36px;
}

.column2 {
	width: 28%;
	list-style-type: none;
	display: inline-block;
	margin-right: 5%;
}

.column2 img {
	width: 100%;
}

.content-sell {
	margin-top: 32px;
	background-color: #333333;
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
}

.grid-container3 {
		max-width: 1408px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 0;
		margin: 0 auto;
}

.footer {
	background-color: #1a1a1a;
	color: white;
	font-family: helvetica;
	font-size: 13px;
	padding-top:32px;
}

.footer-container {
	padding: 32px 8px 16px;
}

.footer-info-links {
	width: 80%;
	float: left;
}

.footer-separator {
	background-color: #262626;
	border: none;
	height: 2px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.info-links-list {
	justify-content: space-between;
	list-style: none;
	max-width: 620px;
	width: 100%;
	color: white;
	font-size: 13px;
	list-style-type: none;
	float: left;
}

.links-list-items {
	display: list-item;
	list-style-type: none;
}

.footer-sublist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sublist-title {
	font-weight: bold;
	height: 24px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.sublist-contents {
	list-style-type: none;
	margin-bottom: 16px;
	padding: 0;
}

.sublist-text-link {
	color: gray;
	text-decoration: none;
}

.footer-sublist li a:hover {
	color: white;
	text-decoration: underline;
}

.footer-stats {
	color: gray;
	width: 20%;
	margin-left: auto;
	padding-left: 32px;
}

.footer-stats-logo {
	display: block;
	height: 20px;
	width: auto;
	margin-bottom: 16px;
	position: relative;
}

.footer ul.footer-sublist {
	width: 22%;
	display: inline-block;
}

.footer-stat-list {
	width: 100%;
}

.footer-stat-list-item {
	list-style-type: none;
}

.list-item-text {
	color: white;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.footer ul.footer-stat-list {
	width: 100%;
}

.footer li.footer-stat-list-item {
	display: inline-block;
	margin-right: 16px;
}

.company-links {
	display: block;
	width: 80%;
}

.company-links-list {
	list-style-type: none;
}

.comp-list-items {
	display: inline-block;
	margin-right: 32px;
}

.items-links {
	color: white;
	text-decoration: none;
}

a.items-links:hover {
	text-decoration: underline;
}

p.disclaimer {
	color: #999999;
	margin-top: 20px;
}

.footer-social {
	width: 20%;
	margin-left: auto;
	margin-top: 8px;
}

.social-link {
	display: inline-block;
}

img.social-icons {
	width: 32px;
	display: inline-block;
}

li.social-link {
	margin-left: 15px;
}

ul.soc-con {
	position: relative;
	top: -90px;
}
